<article class="latest-post">
    <img class="latest-post__image" src=@ImgSrc alt=@($"Imágen relacioanda a {Title}") title=@Title role="img" />
    <div class="latest-post__body">
        <p class="latest-post__category" title="@Category">@Category</p>
        <h4 class="latest-post__title" title=@Title>@Title</h4>
        <p class="latest-post__description" title=@Description>
            @Description
        </p>
    </div>
    <div class="latest-post__footer">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.0012 21.9333L8.46787 19.4667L15.1679 12.7667H0.0678711V9.23332H15.1679L8.46787 2.53332L11.0012 0.0666504L21.9345 11L11.0012 21.9333Z" fill="#7F35B2" />
        </svg>
    </div>
</article>

@code {
    [Parameter]
    public string? ImgSrc { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Category { get; set; }

    [Parameter]
    public string? Description { get; set; }
}