@inherits FormComponent<string>

@if (Visible)
{
    <div class="mb-2">
        <ButtonWithTooltip Icon="format_indent_increase" TooltipText="Indentar código" Click="Indent" />
    </div>
    <StandaloneCodeEditor @ref="@editor"
                          @attributes="Attributes"
                          Id="@GetId()"
                          OnKeyUp="OnInput"
                          ConstructionOptions="EditorConstructionOptions" />
}