<footer class="main-footer" itemscope itemtype="http://schema.org/Organization">
    <div class="main-footer__content">
        <img class="main-footer__image" src="./images/logo_white.png" height="70" alt="Parsalud" title="Logo de Parsalud" role="img" />
        <section class="main-footer__contacto">
            <p title="Información de contacto de la empresa">Contacto</p>
            <ul>
                <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.31342 11.6384C9.53936 12.8773 11.0227 13.8339 12.6593 14.4409L14.8733 12.6856C14.939 12.6406 15.0168 12.6165 15.0965 12.6165C15.1762 12.6165 15.254 12.6406 15.3197 12.6856L19.4306 15.3243C19.5867 15.4178 19.7188 15.5462 19.8166 15.6993C19.9143 15.8523 19.9749 16.026 19.9937 16.2064C20.0125 16.3869 19.9889 16.5692 19.9249 16.739C19.8608 16.9088 19.7579 17.0615 19.6245 17.1849L17.6982 19.0805C17.4223 19.3521 17.0833 19.5514 16.7113 19.6606C16.3393 19.7698 15.9459 19.7856 15.5663 19.7066C11.7797 18.9274 8.28942 17.1027 5.49447 14.4409C2.76155 11.7526 0.870385 8.33201 0.0503803 4.59405C-0.0306256 4.22173 -0.0137186 3.83487 0.0994629 3.47098C0.212644 3.10708 0.418262 2.77848 0.696389 2.51703L2.69314 0.597978C2.81671 0.471477 2.9674 0.374464 3.13393 0.314203C3.30046 0.253942 3.47851 0.231994 3.65476 0.250003C3.83101 0.268012 4.00089 0.325512 4.15168 0.418196C4.30246 0.51088 4.43025 0.636347 4.52546 0.785202L7.26219 4.82808C7.30939 4.89156 7.33487 4.96848 7.33487 5.04748C7.33487 5.12649 7.30939 5.2034 7.26219 5.26688L5.45924 7.42582C6.08503 9.02362 7.06001 10.4626 8.31342 11.6384Z" fill="white" />
                    </svg>
                    <span itemprop="telephone" title="+58 (212) 204-51-11">+58 (212) 204-51-11</span>
                </li>
                <li>
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 4L10 9L2 4V2L10 7L18 2V4ZM18 0H2C0.89 0 0 0.89 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z" fill="white" />
                    </svg>
                    <a href="mailto:contacto@parsalud.com" itemprop="email" title="contacto@parsalud.com">contacto@parsalud.com</a>
                </li>
                <li>
                    <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.99998 25.8065C8.19561 24.2621 6.52312 22.5691 4.99999 20.7451C2.71428 18.0058 1.25556e-06 13.9263 1.25556e-06 10.0389C-0.000990025 8.05359 0.585012 6.11258 1.68384 4.46155C2.78268 2.81051 4.34495 1.52367 6.17294 0.763876C8.00093 0.00408052 10.0125 -0.194514 11.953 0.193226C13.8935 0.580967 15.6758 1.53761 17.0742 2.94209C18.0053 3.87217 18.7433 4.97831 19.2455 6.19647C19.7477 7.41464 20.0041 8.72065 20 10.0389C20 13.9263 17.2857 18.0058 15 20.7451C13.4768 22.5691 11.8043 24.2621 9.99998 25.8065ZM9.99998 5.73868C8.86334 5.73868 7.77325 6.19174 6.96953 6.99819C6.1658 7.80464 5.71427 8.89842 5.71427 10.0389C5.71427 11.1794 6.1658 12.2732 6.96953 13.0796C7.77325 13.8861 8.86334 14.3392 9.99998 14.3392C11.1366 14.3392 12.2267 13.8861 13.0304 13.0796C13.8342 12.2732 14.2857 11.1794 14.2857 10.0389C14.2857 8.89842 13.8342 7.80464 13.0304 6.99819C12.2267 6.19174 11.1366 5.73868 9.99998 5.73868Z" fill="white" />
                    </svg>
                    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" title="Calle 3-B, Edificio Murrieta, La Urbina - Caracas.">Calle 3-B, Edificio Murrieta, La Urbina - Caracas.</address>
                </li>
            </ul>
        </section>
    </div>
    <hr />
    <small role="contentinfo">Copyright &copy; 2024 Administradora de Riesgos Parsalud S.A. Todos los derechos reservados</small>
</footer>

@code {

}
