@inherits LayoutComponentBase

@inject NavigationManager NM

<div id="container" class="container-xxl">
    <div class="page">
        <main>
            <div class="top-row">
                <img src="images/logo_parsalud_primary.webp" height="60" alt="Parsalud" title="Logo de Parsalud" role="img" />
                <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
                <nav class="nav flex-row nav-scrollable">

                    <div class="nav-item close" onclick="document.querySelector('.navbar-toggler').click()">
                        <img src="images/close.webp" height="16" />
                        Cerrar
                    </div>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="nav-link-active" data-enhance-nav="false">
                            <span aria-hidden="true"></span> Inicio
                        </NavLink>
                    </div>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="dr/Nosotros" ActiveClass="nav-link-active" data-enhance-nav="false">
                            <span aria-hidden="true"></span> Nosotros
                        </NavLink>
                    </div>

                    <div class="nav-item">
                        <div class="dropdown">
                            <NavLink class="btn btn-secondary dropdown-toggle nav-link" ActiveClass="nav-link-active" href=@($"{NM.BaseUri}dr/Servicios") role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:transparent;border:none;font-weight:500;padding:var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);">
                                Servicios
                            </NavLink>
                            <ul class="dropdown-menu">
                                <li><NavLink class="dropdown-item nav-link" href=@($"{NM.BaseUri}dr/Servicios/PlanesSalud") ActiveClass="nav-link-active" data-enhance-nav="false">Planes de Salud</NavLink></li>
                                <li><NavLink class="dropdown-item nav-link" href=@($"{NM.BaseUri}dr/Servicios/PlanesAccidentesLaborales") ActiveClass="nav-link-active" data-enhance-nav="false">Planes para cubrir Accidentes Laborales</NavLink></li>
                                <li><NavLink class="dropdown-item nav-link" href=@($"{NM.BaseUri}dr/Servicios/PlanesFunerarios") ActiveClass="nav-link-active" data-enhance-nav="false">Planes Funerarios</NavLink></li>
                            </ul>
                        </div>
                    </div>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="dr/HerramientasEnLinea" ActiveClass="nav-link-active" data-enhance-nav="false">
                            <span aria-hidden="true"></span> Herramientas en línea
                        </NavLink>
                    </div>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="dr/Publicaciones" ActiveClass="nav-link-active" data-enhance-nav="false">
                            <span aria-hidden="true"></span> Publicaciones
                        </NavLink>
                    </div>

                    <div class="nav-item">
                        <NavLink class="nav-link" href="dr/Contacto" ActiveClass="nav-link-active" data-enhance-nav="false">
                            <span aria-hidden="true"></span> Contacto
                        </NavLink>
                    </div>
                </nav>
            </div>

            <article>
                @Body
            </article>
        </main>
    </div>
    <DynamicSection Code="FOOTER" />

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</div>