@inherits LayoutComponentBase

<div class="page">
    @*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row">
            <img src="images/logo.png" height="70" />
            <nav class="nav flex-row">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="nav-link-active">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="counter">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nosotros
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Servicios
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Herramientas en línea
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Publicaciones
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Contacto
                    </NavLink>
                </div>
            </nav>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
