@page "/Dashboard/Users"
@inherits ManagerBase<IUserManagerService, ParsaludUserDto, ManageUserRequest, UserSearchCriteria>
@attribute [Authorize(Roles = "admin")]

<PageTitle>Usuarios - Dashboard Parsalud</PageTitle>

<RadzenStack>
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.H2" TagName="TagName.H2">Administrar usuarios</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5">Buscar usuarios</RadzenText>
        <RadzenTemplateForm TItem="ManageUsers" Data="this" Submit="Submit">
            <RadzenStack>
                <RadzenRow>
                    <RadzenColumn SizeMD="12">
                        <RadzenFormField class="rz-w-100" Text="Nombre de usuario">
                            <RadzenTextBox @bind-Value=@Criteria.UserName />
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="12">
                        <div class="d-flex align-items-center gap-2" style="width:fit-content">
                            <RadzenText Text="Deshabilitado" />
                            <RadzenCheckBox @bind-Value=@Criteria.IsDisabled />
                        </div>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                    <div>
                        <RadzenButton class="rz-w-fit-content" ButtonType="ButtonType.Submit" Text="Buscar" Icon="search" IsBusy=@IsSearching BusyText="Buscando..." />
                        <RadzenButton class="rz-w-fit-content" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Limpiar" Icon="refresh" Click="Reset" />
                    </div>
                    <a href="@(NM.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = NM.Uri }))">Crear nuevo usuario</a>
 @*                    <RadzenButton class="rz-w-fit-content" ButtonStyle="ButtonStyle.Success" Text=@NEW_ITEM_TEXT Icon="add" Click="CreateNew" /> *@
                </RadzenStack>
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenCard>

    @if (Items is not null)
    {
        <RadzenCard>
            @if (Items.Length > 0)
            {
                <RadzenDataList TItem="ParsaludUserDto" Data="Items" AllowVirtualization="true">
                    <Template>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                            <div class="d-flex align-items-center gap-2">
                                <RadzenText><b>@context.UserName</b></RadzenText>
                                @if (context.IsDisabled)
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Danger">Deshabilitado</RadzenBadge>
                                }
                            </div>
                            <RadzenStack Orientation="Orientation.Horizontal">
                                @if (context.IsDisabled)
                                {
                                    <ButtonWithTooltip Variant="Variant.Text" ButtonStyle="ButtonStyle.Success" Icon="lock_open" TooltipText="Habilitar" Click="@(x => Unlock(context))" />
                                }
                                else
                                {
                                    <ButtonWithTooltip Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger" Icon="lock" TooltipText="Deshabilitar" Click="@(x => Lock(context))" />
                                }
                            </RadzenStack>
                        </RadzenStack>
                    </Template>
                </RadzenDataList>
            }
            else
            {
                <RadzenText>No se encontraron resultados</RadzenText>
            }
        </RadzenCard>
    }
</RadzenStack>