@page "/Dashboard/Sections"
@attribute [Authorize(Roles = "admin")]

@inherits ManagerBase<ISectionService, ParsaludSection, ManageSectionRequest, SectionSearchCriteria>

<PageTitle>Secciones - Dashboard Parsalud</PageTitle>

<RadzenStack>
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.H2" TagName="TagName.H2">Administrar secciones</RadzenText>
        <RadzenAlert AlertStyle="AlertStyle.Base">
            Las secciones constituyen el núcleo de la interfaz de usuario, ya que en ellas se define el código HTML que será renderizado posteriormente. Se recomienda utilizar este módulo únicamente si se cuenta con conocimientos en HTML, CSS y JavaScript.
        </RadzenAlert>
        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5">Buscar secciones</RadzenText>
        <RadzenTemplateForm TItem="ManageSections" Data="this" Submit="Submit">
            <RadzenStack>
                <RadzenRow>
                    <RadzenColumn SizeMD="4">
                        <RadzenFormField class="rz-w-100" Text="Código">
                            <RadzenTextBox @bind-Value=@Criteria.Code />
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="8">
                        <RadzenFormField class="rz-w-100" Text="Nombre">
                            <RadzenTextBox @bind-Value=@Criteria.Name />
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="4">
                        <RadzenFormField class="rz-w-100" Text="Tipo de sección">
                            <RadzenDropDown TValue="SectionKind?"
                                            Data="SectionKind.Items"
                                            Name=@nameof(Criteria.SectionKind)
                                            AllowClear="true"
                                            AllowFiltering="true"
                                            FilterAsYouType="true"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            FilterOperator="StringFilterOperator.Contains"
                                            @bind-Value=@Criteria.SectionKind />
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="12">
                        <RadzenFormField class="rz-w-100" Text="Contenido">
                            <RadzenTextBox @bind-Value=@Criteria.Content />
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                    <div>
                        <RadzenButton class="rz-w-fit-content" ButtonType="ButtonType.Submit" Text="Buscar" Icon="search" IsBusy=@IsSearching BusyText="Buscando..." />
                        <RadzenButton class="rz-w-fit-content" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Limpiar" Icon="refresh" Click="Reset" />
                    </div>
                    <RadzenButton class="rz-w-fit-content" ButtonStyle="ButtonStyle.Success" Text=@NEW_ITEM_TEXT Icon="add" Click="CreateNew" />
                </RadzenStack>
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenCard>

    @if (Items is not null)
    {
        <RadzenCard>
            @if (Items.Length > 0)
            {
                <RadzenDataList TItem="ParsaludSection" Data="Items" AllowVirtualization="true">
                    <Template>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                            <div class="d-flex gap-2 align-items-center">
                                <RadzenText><b>@context.Name</b></RadzenText>
                                @if (!string.IsNullOrWhiteSpace(context.Page))
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="Página" />
                                }
                                else
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Componente" />
                                }
                            </div>
                            <RadzenStack Orientation="Orientation.Horizontal">
                                <ButtonWithTooltip Variant="Variant.Text" Icon="visibility" TooltipText="Visualizar" Link=@($"Dashboard/Section/{context.Id}/View") />
                                <ButtonWithTooltip Variant="Variant.Text" Icon="edit_square" TooltipText="Editar" Link=@($"Dashboard/Section/{context.Id}/Update") />
                                <ButtonWithTooltip Variant="Variant.Text" Icon="delete" TooltipText="Eliminar" Click="@(x => Delete(context.Id))" />
                            </RadzenStack>
                        </RadzenStack>
                    </Template>
                </RadzenDataList>
            }
            else
            {
                <RadzenText>No se encontraron resultados</RadzenText>
            }
        </RadzenCard>
    }
</RadzenStack>