footer.main-footer {
    background-color: #2F2C31;
    color: #fff;
    padding: 2.5rem var(--px-common) 1rem var(--px-common);
}

    footer.main-footer a {
        color: #fff;
    }

    footer.main-footer > .main-footer__image {
        height: 70px;
    }

    footer.main-footer >
    .main-footer__content >
    .main-footer__contacto > p {
        font-size: 1.25rem;
        font-weight: 500;
    }

    footer.main-footer >
    .main-footer__content >
    .main-footer__contacto > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        gap: .5rem;
    }

        footer.main-footer >
        .main-footer__content >
        .main-footer__contacto > ul > li {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

            footer.main-footer >
            .main-footer__content >
            .main-footer__contacto > ul > li > address {
                margin: 0;
            }

    footer.main-footer > .main-footer__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
