.info-card {
    width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-card__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

    .info-card__body > * {
        margin: 0 !important;
    }


.info-card__header {
    position: relative;
}

    .info-card__header > * {
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;
    }

    .info-card__header > img:not([decoration]) {
        top: 0;
        aspect-ratio: 4 / 3;
        height: 17.188rem;
        position: relative;
        left: 17.2px;
        margin-bottom: 17.3px;
        object-fit: cover;
    }

    .info-card__header > img[decoration] {
        position: absolute;
        left: 0;
        bottom: 0;
    }

.info-card a {
    color: #9E0085;
    text-decoration: none;
}

.info-card__subtitle {
    letter-spacing: 0.1rem;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    color: #2F2C31;
}

.info-card__title {
    font-weight: 600;
    color: #2F2C31;
}

.info-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}