@page "/Dashboard/Faqs"
@inherits ManagerBase<IFaqService, ParsaludFaq, ManageFaqRequest, FaqSearchCriteria>
@inject IServiceService ServiceService

<PageTitle>FAQs - Dashboard Parsalud</PageTitle>

<RadzenStack>
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.H2" TagName="TagName.H2">Administrar FAQs</RadzenText>
        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H5">Buscar FAQs</RadzenText>
        <RadzenTemplateForm TItem="ManageFaqs" Data="this" Submit="Submit">
            <RadzenStack>
                <RadzenRow>
                    <RadzenColumn SizeMD="6">
                        <RadzenFormField class="rz-w-100" Text="Servicio">
                            <RadzenDropDown TValue="Guid?"
                                            Data="Services"
                                            ValueProperty=@nameof(ParsaludService.Id)
                                            TextProperty=@nameof(ParsaludService.Name)
                                            AllowClear="true"
                                            AllowFiltering="true"
                                            FilterAsYouType="true"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            FilterOperator="StringFilterOperator.Contains"
                                            @bind-Value=@Criteria.ServiceId />
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="12">
                        <RadzenFormField class="rz-w-100" Text="Pregunta">
                            <RadzenTextBox @bind-Value=@Criteria.Question />
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="12">
                        <RadzenFormField class="rz-w-100" Text="Respuesta">
                            <RadzenTextArea @bind-Value=@Criteria.Answer />
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                    <div>
                        <RadzenButton class="rz-w-fit-content" ButtonType="ButtonType.Submit" Text="Buscar" Icon="search" IsBusy=@IsSearching BusyText="Buscando..." />
                        <RadzenButton class="rz-w-fit-content" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Text="Limpiar" Icon="refresh" Click="Reset" />
                    </div>
                    <RadzenButton class="rz-w-fit-content" ButtonStyle="ButtonStyle.Success" Text=@NEW_ITEM_TEXT Icon="add" Click="CreateNew" />
                </RadzenStack>
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenCard>

    @if (Items is not null)
    {
        <RadzenCard>
            @if (Items.Length > 0)
            {
                <RadzenDataList TItem="ParsaludFaq" Data="Items" AllowVirtualization="true">
                    <Template>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                            <RadzenText><b>@context.Question</b></RadzenText>
                            <RadzenStack Orientation="Orientation.Horizontal">
                                <ButtonWithTooltip Variant="Variant.Text" Icon="visibility" TooltipText="Visualizar" Link=@($"Dashboard/Faq/{context.Id}/View") />
                                <ButtonWithTooltip Variant="Variant.Text" Icon="edit_square" TooltipText="Editar" Link=@($"Dashboard/Faq/{context.Id}/Update") />
                                <ButtonWithTooltip Variant="Variant.Text" Icon="delete" TooltipText="Eliminar" Click="@(x => Delete(context.Id))" />
                            </RadzenStack>
                        </RadzenStack>
                    </Template>
                </RadzenDataList>
            }
            else
            {
                <RadzenText>No se encontraron resultados</RadzenText>
            }
        </RadzenCard>
    }
</RadzenStack>