<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Parsalud.styles.css"]" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script type="text/javascript">
        function handleScreenSizeChange(event) {
            const div = document.querySelector('#container');

            if (event.matches) {
                div.classList.remove('container-xxl');
            } else {
                div.classList.add('container-xxl');
            }
        }

        const mediaQuery = window.matchMedia('(max-width: 1260px)');

        handleScreenSizeChange(mediaQuery);
        mediaQuery.addEventListener('change', handleScreenSizeChange);
    </script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
