@inject IPostService PostService

<section class="latest-posts">
    <h3 class="latest-posts__title" title="Últimas publicaciones de Parsalud">Últimas publicaciones</h3>
    <div class="latest-posts__posts">
        @foreach (var LatestPost in LatestPosts)
        {
            <LatestPost @key=@LatestPost.Id
                        ImgSrc="./images/latest-post-1.jpeg"
                        Category=@LatestPost.PostCategory
                        Title=@LatestPost.Title
                        Description=@LatestPost.Content />
        }
    </div>
</section>