<ul class="statistics">
    <li>
        +25 años
        <p>De experiencia brindando atención médica especializada</p>
    </li>
    <li>
        180.000 vidas
        <p>Poseemos experiencia en el manejo de más de 180.000 vidas</p>
    </li>
    <li>
        700
        <p>Más de 700 clínicas, 5000 médicos y 300 farmacias afiliadas</p>
    </li>
    <li>
        96%
        <p>Poseemos una retención del 96% de nuestros clientes</p>
    </li>
</ul>
