<div class="why-parsalud">
    <h2>¿Por qué Parsalud?</h2>
    <p>
        <strong>
            Garantizamos una administración rentable gracias a nuestras excelentes negociaciones con clínicas y proveedores.
        </strong>
    </p>
    <p>
        Ofrecemos una amplia variedad de productos personalizados y tenemos la mayor experiencia en la gestión de fondos y planes de salud, enfocados en el control de costos y un servicio al cliente de excelencia.
    </p>
    <ParsaludButton Text="Contactar" />
</div>

@code {

}
