 @inject NavigationManager NavigationManager
 
 @inherits LayoutComponentBase
 @implements IDisposable

<RadzenComponents @rendermode="InteractiveAuto" />
<RadzenLayout>
    <RadzenHeader>
        <RadzenStack class="py-2" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" Gap="0">
            <div class="d-flex align-items-center">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
              @*   <RadzenLabel Text="Parsalud" /> *@
              <RadzenImage Path="images/logo_parsalud_blanco.webp" height="50" />
            </div>

            <div class="d-flex align-items-center">
                <AuthorizeView>
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Cerrar sesión
                                </button>
                            </form>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Registrarse
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Login">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Acceder
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Administrar artículos" Icon="menu_book" Path="Dashboard/Posts" />
            <RadzenPanelMenuItem Text="Administrar FAQs" Icon="psychology_alt" Path="Dashboard/Faqs" />
            <RadzenPanelMenuItem Text="Administrar categorías" Icon="category" Path="Dashboard/PostCategories" />
            <RadzenPanelMenuItem Text="Administrar archivos" Icon="home_storage" Path="Dashboard/Files" />
            <AuthorizeView Roles="admin">
                <Authorized>
                    <RadzenPanelMenuItem Text="Avanzado" Icon="admin_panel_settings">
                        <RadzenPanelMenuItem Text="Administrar secciones" Icon="stack_hexagon" Path="Dashboard/Sections" />
                        <RadzenPanelMenuItem Text="Administrar hojas de estilo" Icon="style" Path="Dashboard/StyleSheets" />
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Seguridad" Icon="lock">
                        <RadzenPanelMenuItem Text="Administrar usuarios" Icon="group" Path="Dashboard/Users" />
                    </RadzenPanelMenuItem>
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <PageStack>
        @Body
    </PageStack>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool sidebarExpanded = false;
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
